h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 7px;
}

h3 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;

}

.price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

p small {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

button{
    background-color: #218c74;
    border: none;
    outline: none;
    color:white;
    width: 100%;
    font-weight: 600;
  
}

button:hover{
    background-color: #0d3f34;

}